@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Prata&display=swap');

:root {
    --font-fam-title: 'Prata', serif;
    --font-fam-corps: 'Inter', sans-serif;
    --bg-color : #212728ff;
    --color-text: #FFE59A;
    --color-text-hover: #938B26;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
::-webkit-scrollbar {
    display: none;
}
body{
    background-color: var(--bg-color);
}

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    height: 12vh;
    width: 100vw;
    font-family: var(--font-fam-title);
    font-size: 1em;
    color: white;
    align-items: center; 
    padding:0 10%;
}

.logo img{
    position: absolute;
    top: 0;
    width: 160px;
    margin: 10px 140px;
    transition: all 0.4s;

}
.logo img:hover{
    transform: scale(1.1);
}
.btn-menu-burger{
    display: flex;
    position: fixed;
    z-index: 10;
    top: 50px;
    right: 60px;
    height: 30px;
    width: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    align-items: center;
}
.triangle {
}
.line {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-right: 70px solid #938B26;
    transition: transform 0.4s ease-out, opacity 0.1s ease-out;
}
.l1 {
  transform: translateY(-2px) rotate(-20deg);
}
.l2 {
  transform: translateY(5px) rotate(-15deg);
}
.btn-menu-burger.active .l1 {
  transform: translateY(0px) rotate(135deg);
  background-color: #FFE59A;
}
.btn-menu-burger.active .l2 {
  transform: translateY(0px) rotate(-135deg);
  background-color: #FFE59A;
}
.nav-link {
    display: none;
}
.nav-link a{
    margin-left: 40px;
    color: var(--color-text);
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.4s;
}
.nav-link a:hover{
    color:var(--color-text-hover);
    transform: scale(1.1);
}

main{
    padding: 4% 10%;
}
.top-main-content{
    position: relative;
    overflow: hidden;
    font-family: var(--font-fam-title);
    display: flex;
    align-items: center;
    height: 80vh;
    justify-content: center;
    margin: 38px 0;
    margin-bottom: 140px;
    box-shadow: 7px 5px 5px #00000060;
}
.top-main-content::before {
    background-image: url(./assets/img-laos.jpg);
    background-size: cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: all 15s;
}
.top-main-content:hover::before{
    transform: scale(1.4)
}
.main-content{
    height: 80vh;
    box-shadow: 7px 5px 5px #00000060;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content::before{
    background-image: url(./assets/mainimg-1.jpg);
    background-position: center;
    background-size: cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: all 15s;
}
.main-content:hover::before{
    transform: scale(1.4)
}
h3.text-home-content {
    font-size: 3em;
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2% 5%;
    backdrop-filter: blur(5px);
}