@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
    --font-fam-title: 'Bodoni Moda', serif;
    --font-fam-corps: 'Oswald', sans-serif;
    --bg-color : rgb(41, 41, 41);
    --color-text: white;
    --color-text-hover: rgb(130, 130, 69);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg-color);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: var(--font-fam-title);
    color: white;
    align-items: center;
}

.logo img{
    width: 50px;
    margin: 10px 40px;
    transition: all 0.4s;

}
.logo img:hover{
    transform: scale(1.1);
}
.nav-link{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.nav-link a{
    margin-right: 20px;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.4s;
}
.nav-link a:hover{
    color:var(--color-text-hover);
    transform: scale(1.1);
}



.main-content{
    background-image: url(/assets/mainimg.jpeg);
    background-position: center;
    height: 80vh;
}